.wrapper{
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 80vh;
}

.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85vw;
    height: 10vh;
    background: black;
    padding-bottom: 0.5vw;
    margin-bottom: 1vw;
    overflow-x: scroll;

}

.items_options{
    display: flex;
    justify-content: center;
    width :10vw;
    min-height:  2vh;
    padding: 0.3vw 0;
    color: white;

    &:hover{
        cursor: pointer;
        border-bottom: 2px solid white;
    }
}

.items_options.active{
    border-bottom: 2px solid white;
}

.showProducts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6vh;
    overflow-y: scroll;
    height: 70vh;
}

.items_showProducts{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 45vh;
    background: yellowgreen;
    justify-content: space-around;
    align-items: center;
    padding: 1vw 0;
    font-size: 1vw;
    font-weight: 800;
}

.img{
    display: flex;
    width: 20vw;
    height: 28vh;
}