.wrapper{
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 82vh;
    
}

.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85vw;
    height: 10vh;
    background: black;
    padding-bottom: 0.5vw;
    margin-bottom: 1vw;
    overflow-x: scroll;

}

.items_options{
    display: flex;
    justify-content: center;
    width :10vw;
    min-height:  2vh;
    padding: 0.3vw 0;
    color: white;

    &:hover{
        cursor: pointer;
        border-bottom: 2px solid white;
    }
}

.items_options.active{
    border-bottom: 2px solid white;
}

.showProducts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6vh;
    height: 62vh;
    overflow-y: scroll;
}

.items_showProducts{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 50vh;
    background: yellowgreen;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3vw; 
    font-weight: bold;
}

.img{
    display: flex;
    width: 20vw;
    height: 26vh;
}