.container-layout{
    width: 100vw;
    height: auto;
    background-color: #f2f2f2;
}

.header-layout{
    position: fixed;
    width: 100vw;
    height: 100px;
    z-index: 999;
    background-color: white;

}

.body-layout{
    padding-top: 120px;
    padding-bottom: 100px;
}