.content{
    width: 82%;
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    img{
        height: 30vh;
    }
}
.page{
    width: 100vw;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infor{
    padding-left: 20px;
}