.footer_wrapper{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_container_first{
    width: 100vw;
    background: white;
    height: 5vh;
}

.footer_container_second{
    width: 86%;
    padding: 2vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh ;
    font-weight: bold;
}

.footer_container_third{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 14vh;
}

.footer_block_third_stats{
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer_container_third_stats{
    padding: 0.6vw 0;
    border-bottom: 0.2vw solid rgb(186, 186, 182);
    width: 15vw;
}

.footer_container_third_stats_number{
    font-size: 1.1vw;
    font-weight: bold;
}

.footer_container_third_stats_content{
    font-size: 0.8vw;
    font-weight: 100;
}

.footer_container_third_img_app{
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_container_third_img{
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer-img_first_and_third {
    margin-top: 3vh;
}
  
.footer_block_middle{
    padding: 2vh 0;
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100vw;
    background: white;
}

.footer_block_middle_box{
    width: 15vw;
    margin-left: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer_block_middle_box_above{
    width: 100%;
    font-size: medium;
    font-weight: 700;
    padding-bottom: 0.3vw;
    border-bottom: 0.2vw solid rgb(228, 225, 225);
    color: #8c8686; 
}

li{
    color: rgb(28, 122, 180);
    padding: 0.2vw 0;
    list-style: none;
    font-size: small;
    font-weight: 400;
    &:hover{
        cursor: pointer;
        text-decoration: underline;
        color: black;
    }
}

.bocongthuong_img{
    width: 28vh;
    cursor: pointer;
}
