.profile-container {
    display: flex;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    min-width: 700px;
    margin: 0 auto; 
    margin-left: 50px;
}

.avatar-container {
    flex: 0.6;
    text-align: center;
    position: relative;
    display: inline-block;
    left: 25px;
}

.avatar {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    left: 40px;
}

.edit-icon {
    position: absolute;
    bottom: 8px;
    right: 60px;
    width: 24px;
    height: 24px;
    background: rgb(255, 0, 0);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.edit-icon:hover {
    background: #ad0000;
}


.info-container {
    flex: 2;
    padding-left: 20px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.profile-form label {
    font-weight: bold;
    text-align: left;
    display: block;
    font-size: 14px;
}

.profile-form input,

.profile-form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


.profile-info p {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.profile-info strong {
    text-align: left;
    display: block;
    
}

.profile-info strong2 {
    text-align: left;
    display: block;
    flex: 2;
    text-align: right;
    font-weight: normal;
}

.error-message {
    color: #d9534f;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

input:invalid {
    border-color: #d9534f;
}

button {
    border: 2px solid rgb(255, 0, 0);
    background-color: white;
    color: rgb(255, 0, 0);
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 3px;
}

button:hover {
    background-color: rgb(255, 0, 0);
    color: white; /* Đổi màu khi hover */
}

button:active {
    transform: scale(0.95); /* Hiệu ứng nhấn nút */
}



