.password-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    min-width: 500px;
    margin: 20px auto;
    margin-left: 50px;
}

.password-container h2 {
    margin-bottom: 15px;
    color: #333;
}

.password-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.password-container label {
    font-weight: bold;
}

.password-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.password-container button {
    background: rgb(255, 0, 0);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.password-container button:hover {
    background: rgb(215, 2, 2);
}

.error-message {
    color: #d9534f;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

.success-message {
    color: #28a745;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

input:invalid {
    border-color: #d9534f;
}
